# API and JWT configurations
JWT_SECRET="supersecretdevelopmentkey"
PORT=3000

# PostgreSQL Configuration
PGUSER=postgres
PGPASSWORD=password
PGDATABASE=taskmanager
PGHOST=localhost
PGPORT=5432

ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword